[submodule "MineSweeper"]
	path = MineSweeper
	url = https://github.com/rdogg312/MineSweeper
[submodule "RSA-Java"]
	path = RSA-Java
	url = https://github.com/mrybak834/RSA-Java
[submodule "Chat"]
	path = Chat
	url = https://github.com/mrybak834/Chat/
